.bike-image {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.icon-container {
  display: flex;
  align-items: center;
  min-height: 110px;
}

.material-icons {
  transform: scale(4);
  color: #0000001F;
}